<section class="intro flex flex-col-reverse lg:flex-row bg-gray-100">
    <div class="intro-video lg:w-1/2 p-6">
        <video width="560" height="315" controls>
            <source [src]="video_url" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="intro-content lg:w-1/2 p-6">
        <h1>Hii I am Harsh.</h1>
        <p>Enthusiastic software engineer with 4 years of hands-on experience in frontend development, I
            excel at transforming intricate concepts into impactful applications. My passion for innovation, adept
            problem-solving skills, and proven track record of delivering tangible results set me apart. I'm eager to
            contribute my technical expertise and unwavering drive for success to your team's mission.</p>
    </div>
</section>