<section class="intro flex flex-col-reverse lg:flex-row bg-gray-100">
    <div class="intro-video p-4">
        <video width="1280" height="315" controls>
            <source [src]="video_url" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="intro-content p-4">
        <p class="text-gray-800 leading-relaxed">
            <span class="font-bold text-xl">Introduction:</span> <br>
            Hello! I'm <span class="text-indigo-500 font-semibold">Harsh Srivastava</span>, a passionate and experienced
            Software Engineer on a quest for new challenges and opportunities. With over 4 years of professional
            experience in the dynamic landscape of software development, I bring a diverse range of skills and a global
            perspective to the table.
        </p>
        <p class="text-gray-800 leading-relaxed mt-4">
            <span class="font-bold text-xl">Professional Journey:</span> <br>
            My journey began in India, where I had the privilege to work alongside a talented and international team.
            Collaborating with individuals from the United States, Nigeria, Philippines, and more, I've gained a deep
            appreciation for diverse perspectives and the value they bring to problem-solving.
        </p>
        <p class="text-gray-800 leading-relaxed mt-4">
            <span class="font-bold text-xl">Pursuit of Excellence:</span> <br>
            Driven by an insatiable curiosity and a desire to continuously learn, I made a pivotal decision when I
            recognized I had reached a point of growth saturation in India. This led me to embark on a new adventure –
            pursuing a Master's degree in Applied Computer Science at Dalhousie University in Canada. This academic
            journey has not only deepened my technical expertise but also broadened my horizons as I engage with a
            global community of scholars.
        </p>
        <p class="text-gray-800 leading-relaxed mt-4">
            <span class="font-bold text-xl">Balancing Act:</span> <br>
            Beyond coding, I find immense joy in a well-rounded lifestyle. When I'm not immersed in lines of code, you
            might find me engrossed in books like Bhagavad Gita and "You Can't Hurt Me," exploring new culinary
            creations in the kitchen, or basking in the tranquility of nature. My commitment to holistic well-being
            extends to my fitness routine, with regular gym sessions that keep both my mind and body in peak condition.
        </p>
        <p class="text-gray-800 leading-relaxed mt-4">
            <span class="font-bold text-xl">Ever-Evolving Skills:</span> <br>
            As an avid reader and an advocate of continuous improvement, I dedicate time to honing my coding skills by
            embracing the challenges of Data Structures and Algorithms problems on platforms like LeetCode. This
            commitment not only keeps me sharp but also fuels my passion for crafting efficient and elegant solutions to
            real-world problems.
        </p>
        <p class="text-gray-800 leading-relaxed mt-4">
            In my quest for professional growth, I've come to understand that every line of code I write is a step
            toward innovation, and every challenge I overcome is a milestone on the road to excellence. I am excited to
            contribute my skills, experience, and enthusiasm to a team that shares this vision.
        </p>
    </div>
</section>