<div class = "bg-gray-50">
  <div class="bg-white shadow-md rounded-lg p-6 m-2 content-height" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>
  <div class="slider-timeline">
    <input type="range" class="slider" [min]="0" [max]="timelinePoints.length - 1" [step]="1" [(ngModel)]="activeIndex"
      (change)="onSliderChange($event)">
    <div class="timeline">
      <div class="timeline-point" *ngFor="let point of timelinePoints; let i = index" [class.active]="i === activeIndex">
        <p class = "w-36">{{point.content}}</p>
      </div>
    </div>
  </div>
</div>